body { width: max(60%, 30rem); margin: auto; }
nav ul { text-align: center; }
nav ul li { display: inline-block; }
footer ul { text-align: center; }
footer ul li { display: inline-block; }
aside h3 { display: inline-block; vertical-align: top; width: min(32%,10em); }
aside ul { display: inline-block; width: 58%; }
.references ol { list-style: none; }
